body{
    height: 100vh;
}

.signup {
    background-color: rgba(19, 22, 25, 1);
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
}

.logo {
    width: 30px;
}

.login {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    background: -webkit-linear-gradient(45deg, #82DBF7 0%, #B6F09C 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

div .x {
    margin: 20px;
    color: #9B9C9E;
}

.t {
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
    margin: 150px 80px 50px;
}

form {
    margin: 0px 80px;
}

label {
    color: #9B9C9E;
    margin: 12px 0;
}

.form-control,
.form-check-input,
.form-check-label {
    margin: 0 0 24px;
}

.form-control,
.form-check-input {
    background: #1A1D21;
    border: 1px solid #363A3D;
    border-radius: 8px;
}

.form-check .form-check-input {
    float: none;
    margin-left: 0;
}

.form-check{
    padding-left: 12px;
}

.btn {
    background: #B6F09C;
    border-radius: 12px;
    color: #0C1132;
    font-weight: 600;
    font-size: 16px;
    width: 100%;
}

.img-left {
    width: 100%;
}

.tt{
    margin-top: 150px !important;
}